.button {
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-background-color: #3b5998;
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-background-radius: 5;
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 13px;
}
.nav-button {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.nav-button:selected,
.nav-button.active {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
}

.selected-day {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.today {
    -fx-background-color: #bfbd0e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.today-selected {
    -fx-background-color: linear-gradient(to right, #1abc9c, #bfbd0e) !important;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
.button:hover {
    -fx-opacity: 0.85;
}

.button:pressed {
    -fx-opacity: 0.65;
}